<!DOCTYPE html>
<html>
<head>
  <title>Crudnew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- = adalah echo di php-->
<%= yield %>
<!-- parsial render memanggil footer-->
<%= render 'layouts/footer' %>
</body>
</html>
